 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1280px;
	 height: 953px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1280px;
	 height: 953px;
	 z-index:1;
} 

 #Layer3 
{ 
	 left: 212px; 
	 top: 246px; 
	 position: absolute; 
	 width: 381px;
	 height: 264px;
	 z-index:2;
} 

 #shadow 
{ 
	 left: 191px; 
	 top: 490px; 
	 position: absolute; 
	 width: 423px;
	 height: 80px;
	 z-index:3;
} 

 #shapewhitebackground 
{ 
	 left: 675px; 
	 top: 232px; 
	 position: absolute; 
	 width: 436px;
	 height: 325px;
	 z-index:4;
} 

 #button 
{ 
	 left: 771px; 
	 top: 449px; 
	 position: absolute; 
	 width: 253px;
	 height: 79px;
	 z-index:5;
} 

 #Tosubscribe 
{ 
	 left: 807px; 
	 top: 400px; 
	 position: absolute; 
	 width: 171px;
	 height: 21px;
	 z-index:6;
} 

 #OnestepOnly 
{ 
	 left: 792px; 
	 top: 348px; 
	 position: absolute; 
	 width: 202px;
	 height: 30px;
	 z-index:7;
} 

 #h2 
{ 
	 left: 706px; 
	 top: 270px; 
	 position: absolute; 
	 width: 375px;
	 height: 60px;
	 z-index:8;
} 

 #website 
{ 
	 left: 474px; 
	 top: 655px; 
	 position: absolute; 
	 width: 355px;
	 height: 22px;
	 z-index:9;
} 

 #Notethisoffersforuni 
{ 
	 left: 327px; 
	 top: 699px; 
	 position: absolute; 
	 width: 647px;
	 height: 21px;
	 z-index:10;
} 

 #title 
{ 
	 left: 252px; 
	 top: 148px; 
	 position: absolute; 
	 width: 778px;
	 height: 60px;
	 z-index:11;
} 

 #footer 
{ 
	 left: 594px; 
	 top: 804px; 
	 position: absolute; 
	 width: 173px;
	 height: 20px;
	 z-index:12;
} 
